* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

/* ========== common ========== */
.container {
  width: 100%;
  max-width: calc(100% - 20px);
  margin: 0 auto;
}
a {
  text-decoration: none;
}

/* ========== header ========== */
.header__top {
  display: flex;
  height: 80px;
  background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
  justify-content: space-around;
  align-items: center;
  border-radius: 0px 0px 10px 10px;
}
.header__top--logo img {
  width: 50%;
  height: 50%;
  object-fit: cover;
}
.header__top--navbar ul {
  display: flex;
  text-align: center;
  align-content: center;
  align-items: center;
}

.header__top--navbar a {
  color: #fff;
  padding: 5px 20px;
}

.header__top--navbar a:hover {
  background: #fff;
  color: #009efd;
  transition: 0.25s;
  border-radius: 10px;
}
.header__top--user {
  display: flex;
}
.header__top--btn {
  padding: 10px 30px;
  background: #fff;
  border-radius: 20px;
}
.header__top--btn:hover {
  opacity: 50%;
}
.header__top--user p {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}
/* ========== main__info ========== */
.main__info {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(1, 420px);
  margin-top: 10px;
  justify-content: space-around;
}
.main__info--chart {
  border-radius: 10px;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
.main__info--review {
  border-radius: 10px;
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}
.main__info--list {
  border-radius: 10px;
  background-image: linear-gradient(
    to right,
    #b8cbb8 0%,
    #b8cbb8 0%,
    #b465da 0%,
    #cf6cc9 33%,
    #ee609c 66%,
    #ee609c 100%
  );
}
.main__info--chart #myChart {
  display: flex;
  margin-top: 20px;
}
.main__info--total {
  margin-top: 20px;
  font-size: 8rem;
  font-weight: 600;
  line-height: 1.8;
  color: #fff;
  /* display: flex; */
  text-align: center;
}
.main__info--detail {
  display: grid;
  grid-template-columns: repeat(2, 48%);
  grid-template-rows: repeat(2, 120px);
  justify-content: center;
  gap: 5px;
}
.main__info--speed {
  background: #fff;
  border-radius: 10px;
}
.main__info--percent {
  background: #fff;
  border-radius: 10px;
}
.main__info--target {
  background: #fff;
  border-radius: 10px;
}
.main__info--forecast {
  background: #fff;
  border-radius: 10px;
}
.main__info--heading {
  margin-top: 15px;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  color: #009efd;
  text-align: center;
}
.main__info--heading::after {
  content: "";
  width: 60px;
  height: 2px;
  background: #e5e9ec;
  display: block;
  margin-left: 115px;
}
.main__info--number {
  margin-top: 15px;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.6;
  color: green;
  text-align: center;
}
.main__info--heading-list {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.6;
  color: #fff;
  text-align: center;
  padding-top: 10px;
}
.main__info--newest {
  padding: 10px;
  position: relative;
  left: 12px;
  width: 96%;
  height: 320px;
  display: grid;
  grid-template-columns: 40px 200px 200px 60px;
  grid-template-rows: repeat(8, 40px);
  background: #fff;
  border-radius: 10px;
  row-gap: 4px;
  justify-content: space-evenly;
}
.main__info--order {
  display: block;
  background-color: #2af598;
  border: 1px solid #009efd;
  border-radius: 50%;
  text-align: center;
  justify-items: center;
  align-content: center;
}
.main__info--product {
  display: block;
  background-color: #2af598;
  border: 1px solid #009efd;
  border-radius: 20px;
  text-align: center;
  justify-items: center;
  align-content: center;
}
.main__info--lot {
  display: block;
  background-color: #2af598;
  border: 1px solid #009efd;
  border-radius: 20px;
  text-align: center;
  justify-items: center;
  align-content: center;
}
.main__info--time {
  display: block;
  background-color: #2af598;
  border: 1px solid #009efd;
  border-radius: 20px;
  text-align: center;
  justify-items: center;
  align-content: center;
}
/* ========== Department ========== */
.department {
  display: flex;
  margin-top: 10px;
  height: 160px;
  border-radius: 10px;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  justify-content: center;
}
.department img {
  margin: 10px 10px;
  width: 100px;
  height: 100px;
  padding: 10px;
  border-radius: 50%;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  border: 1px solid #e5e9ec;
  transition: 0.25s;
}
.department p {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6;
  color: #fff;
  text-align: center;
}
.department img:hover {
  scale: 1.2;
}
/* ========== footer ========== */
.footer {
  display: flex;
  margin-top: 10px;
  height: 220px;
  justify-content: space-between;
}
.footer__5s {
  display: flex;
  width: 25%;
  border-radius: 10px;
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}
.footer__slogan {
  display: flex;
  width: 49%;
  border-radius: 10px;
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  justify-content: center;
  align-items: center;
}
.footer__clock {
  position: relative;
  width: 25%;
  border-radius: 10px;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}
.footer__slogan h1 {
  font-size: 12rem;
  font-weight: 600;
  line-height: 1.8;
  color: #fff;
}
.footer__5s h3 {
  display: flex;
  margin: 10px;
  padding: 30px;
  font-size: 10rem;
  font-weight: 600;
  line-height: 1.6;
  border-radius: 5%;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  color: #fff;
  align-items: center;
}
.footer__5s--item {
  display: block;
  margin-left: 60px;
  margin-top: 20px;
}
.footer__5s--item p {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.6;
  padding: 2px;
  color: #009efd;
}
.footer__clock--digital {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 4px;
  color: #009efd;
  text-align: center;
  padding-top: 80px;
}
